.message {
    &__container {
        display: flex;
    }

    &__avatar {
        position: relative;
        width: 10em;
        height: 10em;
        border: 1px solid;
        border-radius: 50%;
        margin-right: 5px;
    }

    &__block {
        position: relative;
        display: flex;
        background-color: black;
        border: 0px solid;
        border-radius: 5px;
        border-bottom-left-radius: 0px;
        padding-left: 10px;
        padding-right: 10px;
        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            left: -39px;
            bottom: 0%;
            border: 20px solid;
            border-color:transparent black black transparent;
        }
        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            left: -40px;
            bottom: 0;
            border: 20px solid;
            border-color: transparent white white transparent;
            border-bottom-right-radius:20px;

        }
    }

    &__descr {
        background-color: black;

        &_name {
            color: wheat;
        }

        &_txt {
            color: yellowgreen;
        }
    }

    &__time {
        align-self: flex-end;
        color: chartreuse;
        vertical-align: bottom;
    }
}