.show{
    visibility: hidden;
}
span {
    padding-left: 10px;
    padding-right: 10px;
}

.alternativeClock{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 20px 10px 30px 10px;
}
.number {
    --roation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--roation));
    font-size: 0.8rem;
   padding: 10px;
  }
  .number::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 10px;
    background-color: black;
  }
.number1 {--roation: 30deg}
.number2 {--roation: 60deg}
.number3 {--roation: 90deg}
.number4 {--roation: 120deg}
.number5 {--roation: 150deg}
.number6 {--roation: 180deg}
.number7 {--roation: 210deg}
.number8 {--roation: 240deg}
.number9 {--roation: 270deg}
.number10 {--roation: 300deg}
.number11 {--roation: 330deg}

.number1 div{
  transform: rotate(-30deg);
}

.number2 div{
  transform: rotate(-60deg);
}
.number3 div{
  transform: rotate(-90deg);
}
.number4 div{
  transform: rotate(-120deg);
}
.number5 div{
  transform: rotate(-150deg);
}
.number6 div{
  transform: rotate(-180deg);
  
}
.number7 div{
  transform: rotate(-210deg);
}
.number8 div{
  transform: rotate(-240deg);
}
.number9 div{
  transform: rotate(-270deg);
}
.number10 div{
  transform: rotate(-300deg);
}
.number11 div{
  transform: rotate(-330deg);
}