<<<<<<< Updated upstream
.span{
    display:inline-block;
    height: 20px;
    border: 1px solid rgb(12, 192, 117);
    padding: 0px 10px;
    border-radius: 5px;
    margin-bottom: 21.6px;
}

=======
.span {
    display: inline-block;
    height: 20px;
    padding: 0px 10px;
    margin-bottom: 21.6px;
    border: 2px solid rgb(38, 0, 255);
    border-radius: 7px;
}
>>>>>>> Stashed changes
