.input {
    border-radius: 7px;
}
.superInput {
    border: 2px solid rgb(38, 0, 255);
    background: #ffffff;
    margin-bottom: 21.6px;
}

.errorInput {
    border: 2px solid rgb(255, 0, 0);
    background: rgba(245, 69, 69, 0.685);
}

.error {
    color: red;
}

