.default{
    background-color:rgb(181, 241, 121);
    color: rgb(138, 69, 19);
} 

.red {
    background: red;
}

.btn{
    position: relative;
    border-radius: 7px;
    cursor: pointer;

}

.btn:active{
    background-color:rgb(180, 149, 138);  
}

.btn:disabled{
    color: rgb(117, 117, 117);
    cursor: auto;
    z-index: -1;
}

